* {
    margin: 0;
    padding: 0;

    background-color: antiquewhite;
}

ul {
    list-style-type: none;
}

.header {
    background-color:blue;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 20px;
    height:55px;
}

nav > ul {
    display:flex;
}
nav > ul > li {
    padding : 0px 10px;
}


.home {
    border:2px solid red;
    background-color: green;
    position:absolute;
    top:60%;
    display:none;
}