* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    height:350px;
    width:550px;
    border:1px solid rgb(239, 230, 230);
}
.heading {
    height:100px;
    margin:5px 10px;
}

.heading> * {
    margin:0px 10px;
    padding:10px;
}

.box {
    display:flex;
    height:250px;
    background-color: purple;
}

.first {
    height:250px;
    width:120px;
    background-color:rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first>div {
    height: 50px;
    width:120px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.first>div:hover {
    background-color: rgb(204, 204, 204);
}

.active {
    background-color: green;
}
.second {
    background-color: white;
}
.second>div {
    position:absolute;
    display:none;
    padding:5px 10px;
}

.top {
    display:block;
}


#color {
    background-color:green;
}